
@{
    Layout = "_Layout";
    
    ViewData["title"] = "About Us";

}
@section breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            
            <li class="breadcrumb-item active"><a href="#">About Us</a></li>
        </ol>
    </nav>
}


    <h3>this is about us page</h3>

