@{
    Layout = "_Layout";

    ViewData["title"] = "Contact Us";

}
@section breadcrumb {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>

                <li class="breadcrumb-item active"><a href="#">Contact Us</a></li>
            </ol>
        </nav>
}


    <h3>this is contact us page</h3>